@import url("https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.input:focus {
  outline: none;
}

.textarea:focus {
  outline: none;
}

.input {
  @apply ring-1
  ring-emerald-200  
  focus:ring-2
  focus:ring-emerald-300
  transition-all
  duration-300
  ease-in-out
  sm:text-sm/6
  block 
  w-full
  rounded-md
  px-3.5
  py-2
  text-base;
}

.textarea {
  @apply ring-1
  ring-emerald-200  
  focus:ring-2
  focus:ring-emerald-300
  transition-all
  duration-300
  ease-in-out
  block 
  w-full 
  rounded-md 
  bg-white 
  px-3.5 
  py-2 
  text-base 
  text-gray-900 
  placeholder:text-gray-400;
}
