@import url("https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 83.1%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h1 {
  font-size: calc(3rem + 2.2vw);
  font-weight: bold;
  color: #0a3728;
  line-height: calc(3rem + 3vw);
}

@media (min-width: 768px) {
  h1 {
    font-size: calc(3rem + 4vw);
    line-height: calc(3rem + 4vw);
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: calc(2.5rem + 3.5vw);
    line-height: calc(2.5rem + 3.5vw);
  }
}

@media (min-width: 1600px) {
  h1 {
    font-size: calc(2.5rem + 3.5vw);
    line-height: calc(2.5rem + 3.5vw);
  }
}

@media (min-width: 2400px) {
  h1 {
    font-size: calc(3rem + 1.5vw);
    line-height: calc(1.5rem + 2.5vw);
  }
}

.lead {
  margin-top: 1.4rem;
  font-size: calc(1.5rem + 1vw);
  line-height: calc(1.5rem + 1vw);
  font-weight: normal;
  color: #23322e;
}

@media (min-width: 768px) {
  .lead {
    font-size: calc(1rem + 2vw);
    line-height: calc(1rem + 2vw);
    margin-top: 2rem;
  }
}

@media (min-width: 1200px) {
  .lead {
    font-size: calc(1rem + 1vw);
    line-height: calc(1rem + 1vw);
    margin-top: 2rem;
  }
}

.burger {
  width: 46px;
  height: 46px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0);
  box-shadow:
    rgb(136 165 191 / 48%) 6px 2px 16px 0px,
    rgb(255 255 255 / 80%) -6px -2px 16px 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  transition: all 0.5s ease;
  margin: 1em;
}
.burger:hover {
  background: #00221d;
}
.burger-strip {
  transition: all 0.5s ease;
}
.strip div {
  height: 3px;
  border-radius: 2px;
  background: #00221d;
  margin: 8px;
  transition: all 0.55s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 32px;
}
.burger:hover .strip div {
  background: white;
}

/* BURGER 2 */
.burger:hover .burger-strip-2 div:first-child {
  transform: translateY(12px) rotate(45deg);
}
.burger:hover .burger-strip-2 div:nth-child(2) {
  opacity: 0;
}
.burger:hover .burger-strip-2 div:last-child {
  transform: translateY(-10px) rotate(-45deg);
}

.featured {
  font-family: "Playfair Display";
  font-size: 1.4rem;
  font-weight: bold;
  color: #c2a345;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.non-featured {
  font-family: "Playfair Display";
  font-size: 1rem;
  font-weight: bold;
  color: #c2a345;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.signature {
  font-family: "Khula", sans-serif;
  font-weight: 600; /* for semibold */
}

.gradient {
  background-image: linear-gradient(
    to bottom right,
    #002018,
    #043929,
    #0a895c,
    #00231b
  );
}

.hero-wrapper {
  position: relative;
  margin-top: 20%;
}

@media screen and (max-width: 768px) {
  .hero-wrapper {
    margin-top: 30%;
  }
}

@media screen and (max-width: 480px) {
  .hero-wrapper {
    margin-top: 40%;
  }
}

.hero-title {
  z-index: 1;
  font-family: "Playfair Display", serif;
  overflow: hidden;
}

.title-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    to bottom right,
    #002019,
    #054d3a,
    #1a9b6d,
    #003b2f
  );
  z-index: 1;
  mix-blend-mode: screen;
}

textarea {
  resize: none;
  overflow: hidden;
}

.active {
  border-bottom: 3px solid #087a52;
  padding-bottom: 0.3rem;
  font-weight: 600;
  color: #087a52;
}

.sliding-underline {
  position: relative;
  text-decoration: none;
}

.sliding-underline::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: -8px; /* Adjusted to move the underline down */
  left: 0;
  background-color: #087a52; /* Use your avocado color here */
  transition: width 0.3s ease-in-out;
}

.sliding-underline:hover::after {
  width: 100%;
}

.sliding-underline.active::after {
  display: none;
}

.menu-item {
  color: #898989;
  font-weight: 600;
}

.tap-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  cursor: pointer;
}

/* Blockquote styles */
.prose blockquote {
  /* Reset default styles */
  margin: 0;
  padding: 0;
  border-left: none;
  font-style: normal;
  color: inherit;
}

.prose blockquote p {
  margin: 0;
  padding: 0;
  font-style: normal;
}

/* Border color */
.border-emerald-800 {
  border-color: #065f46;
}

/* Add this to your CSS */
#content-container p:not(.lead-heading) {
  @apply mt-6 text-xl/8;
}
