@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #0A3728;   
  margin: 0;
  line-height: 3.6rem;
}

.lead {
  font-size: 1.2rem;
  font-weight: normal;
  color: #23322e;   
  margin: 0;
  line-height: 2rem;
}




.burger {
  width: 46px;
  height: 46px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0);
  box-shadow: rgb(136 165 191 / 48%) 6px 2px 16px 0px, rgb(255 255 255 / 80%) -6px -2px 16px 0px;
  ;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  transition: all .5s ease;
  margin: 1em;
}
.burger:hover {
  background: #00221D;
}
.burger-strip {
  transition: all .5s ease;
}
.strip div {
  height: 3px;
  border-radius: 2px;
  background: #00221D;
  margin: 8px;
  transition: all .55s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 32px;
}
.burger:hover .strip div {
  background: white;
}
 
/* BURGER 2 */
.burger:hover .burger-strip-2 div:first-child {
  transform: translateY(12px) rotate(45deg);
}
.burger:hover .burger-strip-2 div:nth-child(2) {
  opacity: 0;
}
.burger:hover .burger-strip-2 div:last-child {
  transform: translateY(-10px) rotate(-45deg);
}