---
const { data } = Astro.props;
const leftWidth = data.leftColumnWidth || 50;
const rightWidth = 100 - leftWidth;
---

<section class="py-12 px-6">
  <div class="container mx-auto max-w-5xl">
    <div class="flex flex-col md:flex-row gap-8">
      <div class={`md:w-[${leftWidth}%]`}>
        <div class="prose prose-lg max-w-none">
          <Fragment set:html={data.leftColumnContent} />
        </div>
      </div>
      <div class={`md:w-[${rightWidth}%]`}>
        <div class="prose prose-lg max-w-none">
          <Fragment set:html={data.rightColumnContent} />
        </div>
      </div>
    </div>
  </div>
</section>
