---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import "@fontsource/playfair-display/700.css";
import "@fontsource/quicksand";
import "../styles/globals.css";
import "../styles/components.css";
import "../api/send-email"
---
 

<div>
  <Header currentPath={Astro.url.pathname} />
</div>

<div class="isolate bg-white px-6 py-24 sm:py-32 lg:px-8">
  <div
    class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]"
    aria-hidden="true"
  >
  </div>
  <div class="mx-auto max-w-2xl text-center">
    <h2
      class="text-4xl font-semibold tracking-tight text-balance text-gray-900 sm:text-5xl"
    >
      Reach out
    </h2>
    <p class="mt-2 text-lg/8 text-gray-600">
      Get in contact if you have any questions.
    </p>
  </div>
  <form action="/api/send-email" method="POST" class="mx-auto mt-16 max-w-xl sm:mt-20">
    <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
      <div>
        <label
          for="first-name"
          class="block text-sm/6 font-semibold text-gray-900">First name</label
        >
        <div class="mt-2.5">
          <input
            type="text"
            name="first-name"
            id="first-name"
            autocomplete="given-name"
            class="input"
          />
        </div>
      </div>
      <div>
        <label for="email" class="block text-sm/6 font-semibold text-gray-900"
          >Email</label
        >
        <div class="mt-2.5">
          <input
            type="text"
            name="email"
            id="email"
            autocomplete="email"
            class="input"
          />
        </div>
      </div>

      <div class="sm:col-span-2">
        <label for="message" class="block text-sm/6 font-semibold text-gray-900"
          >Message</label
        >
        <div class="mt-2.5">
          <textarea name="message" id="message" rows="4" class="textarea"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="mt-10">
      <button
        type="submit"
        class="block w-full rounded-md bg-emerald-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-xs hover:bg-emerald-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-emerald-600"
        >Let's talk</button
      >
    </div>
  </form>
 

</div>

<script>
  const form = document.querySelector('form') as HTMLFormElement;
  if (form) {
    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      const response = await fetch('/api/send-email', {
        method: 'POST',
        body: new FormData(form)
      });
      const result = await response.json();
      alert(result.message);
    });
  }
</script>

<Footer />
