---
import '@fontsource/playfair-display/700.css';
import '@fontsource/quicksand';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Newsletter from '../components/Newsletter.vue';
import '../styles/globals.css';

---
 
<Header />
 
<html>
  <head>
    <!-- Your head content -->
  </head>
  <body>
    <div class="bg">
    <div class="bg-slate-800 w-4/6 max-w-[800px] min-w-[300px] mx-auto min-h-screen bg-opacity-0">
			
			
			<div>
			<Hero />
		
		</div>
			
			
    </div>
		<Newsletter client:load />
  </body>
</html>

<style>
  .bg {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
  }

  .bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/images/index-bg-2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(15px);
    z-index: -100;
  }
</style>
