---
import "../styles/globals.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="site-logo">Plastic</div>
        <div class="menu-toggle">
          <div id="menu-toggle-btn">
            <span></span>
          </div>
        </div>
      </div>
      <div class="header">
        We transform <br /> something something <br /> outcomes
      </div>
      <div class="nav-container">
        <div class="nav">
          <div class="col flex">
            <div class="nav-logo">c/</div>
            <div class="nav-socials">
              <a href="#">LinkedIn</a>
              <a href="#">Instagram</a>
            </div>
          </div>
          <div class="col">
            <div class="nav-link">
              <a href="#">Work</a>
              <div class="nav-item-wrapper"></div>
            </div>
            <div class="nav-link">
              <a href="#">Services</a>
              <div class="nav-item-wrapper"></div>
            </div>
            <div class="nav-link">
              <a href="#">About</a>
              <div class="nav-item-wrapper"></div>
            </div>
            <div class="nav-link">
              <a href="#">Manifesto</a>
              <div class="nav-item-wrapper"></div>
            </div>
            <div class="nav-link">
              <a href="#">Connect</a>
              <div class="nav-item-wrapper"></div>
            </div>
          </div>
        </div>
        <div class="nav-footer">
          <div class="links">
            <a href="#">Pricacy policy</a>
            <a href="#">Cookie policy</a>
            <a href="#">Terms & Conditions</a>
          </div>
          <div class="contact">
            <a href="#">starthound@gmail.com</a>  
          </div>
        </div>
      </div>
    </div>
  </body>
</html>



<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Khula";
}

.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #fff;
}

.navbar {
  position: fixed;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 3em;
}

.site-logo {
  font-size: 18px;
  color: #000;
  width: 100%;
  top: 50%;
  left: 50;
  font-size: 80px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}


.menu-toggle-btn {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 1000;
}

span {
  height: 2px;
  background: #000;
  width: 24px;
  display: inline-block;
  position: absolute;
  top: 50%;
  transition: all 0.3s;
 }

 span::before {
  content: " ";
  position: absolute;
  display: inline-block;
  height: 2px;
  background: #000;
  transform: translateY(-4px);
  width: 24px;
  transition: all 0.3s;
  top: -2px;
 }

 .active span {
  transform: rotate(45deg);
  background: #fff;
 }

 .active span::before {
  top: unset;
  transform: rotate(-90deg);
  background: #fff;
 }

 .active:hover span::before {
  top: unset;


 }


 #nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  color: #fff;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  /* visibility: hidden; */
 }

</style>