---
import Layout from "@/layouts/Layout.astro";
import ContactForm from "@/components/contactForm.astro";
---

<Layout title="Contact Tanya Stockdale">
  <main>
   <ContactForm />
  </main>

  <Layout />
 