---
import {Image} from "astro:assets"
---

<header
class="flex justify-between items-center px-8 py-2 absolute top-0 left-1/2 transform -translate-x-1/2 bg-teal-950 bg-opacity-0 max-w-4xl w-full z-50"
>
<a href="/" class="flex items-center gap-x-4">
  <img
    src="/images/ts_logo.svg"
    alt="heartbeat icon"
    class="w-40 h-15 object-contain min-w-[160px] min-h-[60px]"
  />
</a>
<nav class="hidden md:flex space-x-4">
<ul class="flex gap-x-8 rounded-full bg-avocado bg-opacity-0 px-8 py-2">
  <li><a href="/" class="text-avocado font-bold">Home</a></li>
  <li><a href="/about" class="text-avocado">About</a></li>
  <li><a href="/blog" class="text-avocado">Contact</a></li>
</ul>


<ul class="flex gap-x-8 rounded-full bg-avocado bg-opacity-100 px-8 py-2">
  <li><a href="/articles" class="text-orange-100">Articles</a></li>
</ul>

</nav>

<button class="md:hidden" id="menu-toggle">
  <div class="wrap">
    <div class="burger">
  <div class="strip burger-strip-2">
      <div></div>
      <div></div>
      <div></div>
  </div>
</div>
</button>

</header>


<!-- Mobile menu (hidden by default) -->
<div class="hidden md:hidden" id="mobile-menu">
  <!-- Add your mobile menu items here -->
   
</div>

<script>

document.addEventListener('DOMContentLoaded', () => {
  const menuToggle = document.getElementById('menu-toggle');
  const mobileMenu = document.getElementById('mobile-menu');

  if (menuToggle && mobileMenu) {
    menuToggle.addEventListener('click', () => {
      mobileMenu.classList.toggle('hidden');
    });
  }
});

</script>



