---
import "@fontsource/playfair-display";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Tanya Stockdale | Functional Medicine</title>
  </head>
  <body>
    <main>
      <div class="breathing-container">
        <h1
          class="font-serif text-balance pt-[30%] text-transparent bg-clip-text bg-gradient-to-br from-[#002018] via-[#043929] via-[#0A895C] to-[#00231B]"
        >
          Embrace a Holistic Approach to Wellness
        </h1>
        <p class="lead font-sans-serif text-balance">
          Functional Medicine for Mind, Body, and Soul
        </p>
      </div>
    </main>
  </body>
</html>
