---
import "@fontsource/playfair-display";
import "../styles/globals.css";
import Splitting from "splitting";
import "../styles/components.css";
---

<div class="hero-wrapper">
  <h1 class="hero-title solid-title invisible" data-splitting>
    Discover Proactive Wellness with Functional Medicine
  </h1>
  <div class="title-overlay"></div>
</div>

<div>
  <p class="lead font-sans-serif text-balance">
    Functional Medicine for Mind, Body, and Soul
  </p>
</div>

<script>
  import gsap from "gsap";
  import Splitting from "splitting";

  Splitting(); // comment this out to view without the lib

  const heroTitle = document.querySelector('.hero-title');
  const timeline = gsap.timeline();

  timeline
  .set(heroTitle, { visibility: 'visible' })
  .from(".hero-title .char", {
    filter: "blur(10px)",
    duration: 0.8,
    delay: 0.6,
    opacity: 0,
    stagger: 0.02,
    y: 0,
    ease: "expo1in",
  });
</script>

<style>
  .gradient-title {
    background: linear-gradient(45deg, #ff6b6b, #4ecdc4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
</style>
