---
import "@fontsource/playfair-display";
 

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Tanya Stockdale | Functional Medicine</title>
	</head>
	<body>
		<main>
		 <h1 class="font-serif text-center text-balance pt-[30%]">Embrace a Holistic Approach to Wellness</h1>
     <p class="lead font-sans-serif text-center text-balance">Functional Medicine for Mind, Body, and Soul</p>
		</main>
	</body>
</html>

<style>
	/* Your styles go here */
</style>