---
import "@fontsource/playfair-display/700.css";
import "@fontsource/quicksand";
import "../styles/globals.css";
import Header from "@/components/Header.astro";
---

<div class="bg-white px-6 py-32 lg:px-8">
  <div class="mx-auto max-w-3xl text-base/7 text-gray-700">
    <div class="mt-10 max-w-2xl">
      <figure class="mt-10 border-l border-emerald-800 pl-9">
        <blockquote class="font-semibold text-avocado">
          <p class="mt-6 text-2xl/8 font-serif">
            I’m fine. Really, I am. Just surviving.
          </p>
        </blockquote>
      </figure>

      <figure class="mt-16">
        <img
          class="aspect-video rounded-2xl object-cover"
          src="/images/fine.jpeg"
          alt="This is fine"
        />
      </figure>

      <p class="mt-6">
        We have been conditioned to believe that being "busy" (read: important)
        and "productive" (read: worthy) are the ultimate measures of success.
        But deep down, many of us feel disconnected from our true selves—rushing
        through life, only to wonder, at the end, if we ever really lived.
      </p>
      <p class="mt-6">
        As a mother of two, I’ve faced some horrific changes that forced me to
        rediscover my true purpose. It wasn’t easy. I had to grow up quickly and
        navigate through some of life’s toughest lessons. So I get it. I've been
        in that place of feeling lost, unsure of how to move forward.
      </p>
      <p class="mt-6">
        Now, my life's mission is to help high-achievers and those who feel at a
        crossroads reconnect with their body, mind, and spirit. I guide you to
        rediscover your inner light and tap into your full potential, so you can
        show up as your most vibrant, unapologetically authentic self.
      </p>
      <p class="mt-6">
        Whether you're a curious individual with minor or major health issues,
        or simply feeling stuck and uncertain, I’m here to help you move through
        your health challenges and truly thrive—not just survive—creating a life
        on your terms, full of energy, purpose, and joy.
      </p>
    </div>
  </div>
</div>
