---
import "@fontsource/playfair-display/700.css";
import "@fontsource/quicksand";
---

<div class="bg-white py-24 sm:py-32 overflow-x-clip">
  <div class="mx-auto max-w-6xl ring-blue-600 flex">
    <div class="mx-auto max-w-6xl px-6 lg:px-8 ring-purple-500">
      <div class="relative w-full max-w-lg flex -z-100">
        <div
          class="absolute top-40 -left-1/4 w-1/2 h-1/3 mix-blend-multiply filter blur-2xl opacity-20"
        >
          <svg
            id="10015.io"
            viewBox="0 0 480 480"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            style="transform: scale(2); "
          >
            <path
              fill="#474bff"
              d="M372.5,277Q369,314,342,341.5Q315,369,277.5,400Q240,431,218.5,373Q197,315,128.5,329.5Q60,344,42.5,292Q25,240,83,211.5Q141,183,132,110.5Q123,38,181.5,50Q240,62,296,53.5Q352,45,340,117Q328,189,352,214.5Q376,240,372.5,277Z"
            ></path>
          </svg>
        </div>
        <div
          class="absolute top-[20%] -right-1/4 w-1/2 h-1/3 opacity-50 mix-blend-multiply filter blur-2xl"
        >
          <svg
            id="10015.io"
            viewBox="0 0 480 480"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            style="transform: scale(2); "
          >
            <path
              fill="#ffc847"
              d="M388.5,284.5Q394,329,355,350.5Q316,372,278,388Q240,404,197,396Q154,388,152,340Q150,292,92.5,266Q35,240,70,201Q105,162,150.5,162.5Q196,163,218,159.5Q240,156,260.5,163Q281,170,348.5,154Q416,138,399.5,189Q383,240,388.5,284.5Z"
            ></path>
          </svg>
        </div>

        <div
          class="absolute bottom-0 -right-3/4 w-72 h-72 mix-blend-multiply filter blur-2xl opacity-30 rounded-full"
        >
          <svg
            id="10015.io"
            viewBox="0 0 480 480"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            style="transform: scale(2); "
          >
            <path
              fill="#ef76fc"
              d="M390,270.5Q388,301,397.5,354Q407,407,358.5,407.5Q310,408,275,430.5Q240,453,212.5,412.5Q185,372,168.5,350Q152,328,95,326Q38,324,51.5,282Q65,240,68.5,205Q72,170,117,166Q162,162,184,159.5Q206,157,223,109Q240,61,269,80Q298,99,345.5,93Q393,87,397,130Q401,173,396.5,206.5Q392,240,390,270.5Z"
            ></path>
          </svg>
        </div>
      </div>

      <div class="mx-auto max-w-2xl text-center ring-green-500">
        <p
          class="mt-2 text-4xl font-serif tracking-tight text-balance text-gray-900 sm:text-5xl"
        >
          Here is what my clients say
        </p>
      </div>
      <div
        class="mx-auto mt-16 max-w-lg text-sm/6 text-gray-900 sm:mt-20 xl:mx-0 xl:max-w-none ring-orange-500"
      >
        <div class="space-y-8 xl:contents xl:space-y-0">
          <div class="space-y-8 xl:row-span-2">
            <figure
              class="rounded-2xl bg-white p-6 shadow-lg ring-gray-900/5 isolate mb-12"
            >
              <h3 class="featured">Thank you for your unwavering support</h3>
              <blockquote class="text-gray-900">
                <p>
                  “I can’t thank my Functional Medicine Practitioner, Tanya
                  Stockdale, enough for the incredible transformation she's
                  guided me through over the past three months. From battling
                  constant bloating and uncontrollable cravings to now feeling
                  balanced, energized, and in control of my eating habits, her
                  expertise has been a game-changer.
                </p>
                <p class="mt-8">
                  Her personalized approach, focusing on tailored supplements
                  and practical dietary adjustments, has alleviated my
                  discomfort and boosted my overall well-being significantly.
                  But it's not just about what goes into my body&mdash;she's
                  also helped me reshape my mindset around food, fostering a
                  healthier relationship with eating.
                </p>
                <p class="mt-8">
                  I feel empowered, informed, and genuinely excited about
                  sustaining this newfound balance and vitality. Thank you for
                  your unwavering support, encouragement, and invaluable
                  guidance on this journey to a healthier, happier me!”
                </p>
              </blockquote>
              <figcaption class="mt-6 flex items-center gap-x-4">
                <img
                  class="size-10 rounded-full bg-gray-50"
                  src="/images/tallulah.jpg"
                  alt=""
                />
                <div>
                  <div class="font-semibold">Tallulah Adey</div>
                </div>
              </figcaption>
            </figure>

            <!-- More testimonials... -->
          </div>
          <div class="space-y-8 xl:row-start-1">
            <figure
              class="rounded-2xl bg-white p-6 shadow-lg ring-gray-900/5 isolate mb-12"
            >
              <h3 class="featured">A huge source of knowledge and support</h3>
              <blockquote class="text-gray-900">
                <p>
                  “I first met Tanya when I joined one of her workshops. I was
                  nervous to join as l did not know what to expect, but l am so
                  glad l attended! She created such a warm and welcoming
                  atmosphere.
                </p>
                <p class="mt-8">
                  I highly recommend Tanya. She is a huge source of knowledge
                  and support for everything a woman may be experiencing or
                  going through.”
                </p>
              </blockquote>
              <figcaption class="mt-6 flex items-center gap-x-4">
                <img
                  class="size-10 rounded-full bg-gray-50"
                  src="/images/zoe.jpg"
                  alt="Zoe Edmunds testimonial photo"
                />
                <div>
                  <div class="font-semibold">Zoe Edmunds</div>
                </div>
              </figcaption>
            </figure>

            <!-- More testimonials... -->
          </div>
        </div>
        <div class="space-y-8 xl:contents xl:space-y-0 mb-12">
          <div class="space-y-8 xl:row-start-1">
            <figure
              class="rounded-2xl bg-white p-6 shadow-lg ring-gray-900/5 isolate mb-12"
            >
              <h3 class="featured">Surpassed my expectations</h3>
              <blockquote class="text-gray-900">
                <p>
                  “During a challenging period with my health, I sought the
                  guidance of Tanya. She thoroughly assessed my symptoms and,
                  based on my blood results, recommended adjustments to my
                  lifestyle. Remarkably, I began to notice significant
                  improvements. The persistent, debilitating pain in my stomach
                  gradually disappeared, and today, my energy levels surpass
                  those prior to my battle.
                </p>
                <p class="mt-8">
                  I have experienced positive impact of Tanya’s interventions,
                  which surpassed my expectations, and I highly recommend her
                  services and expertise.”
                </p>
              </blockquote>
              <figcaption class="mt-6 flex items-center gap-x-4">
                <img
                  class="size-10 rounded-full bg-gray-50"
                  src="/images/elina.jpg"
                  alt=""
                />
                <div>
                  <div class="font-semibold">Elina Passarino</div>
                </div>
              </figcaption>
            </figure>

            <!-- More testimonials... -->
          </div>
          <div class="space-y-8 xl:row-span-2 mb-12">
            <figure
              class="rounded-2xl bg-white p-6 shadow-lg ring-gray-900/5 isolate mb-12"
            >
              <h3 class="featured">I am forever grateful</h3>
              <blockquote class="text-gray-900">
                <p>
                  “I started working with Tanya in June. By then I very much was
                  feeling like I will probably never get better. I was pretty
                  much reacting to anything. Food. Shampoos. Pets. Hair sprays.
                  Sunblocks. Make up. My flawless skin turned bright red and
                  developed visible capillaries. Rosacea. My sleep was none
                  existent. I was anxious. Unable to eat, exercise, constantly
                  flushing and just not living but rather trying to survive.
                </p>
                <p class="mt-8">
                  Tanya suggested a few blood tests and gave me a list of
                  supplements. She also gave me hope and reassurance that I can
                  and will get better. It felt like a weight was taken off my
                  shoulders just hearing that.
                </p>
                <p class="mt-8">
                  Now, almost 5 months later I can say that the improvement is
                  tremendous! I am forever grateful to Tanya and everything she
                  did for me and my family (yes my daughter old and my husband
                  are both currently working with Tanya as well)!
                </p>
                <p class="mt-8">
                  Tanya has a brilliant mind, a heart of gold and perseverance!
                  And most importantly she makes you feel like you can do it!.”
                </p>
              </blockquote>
              <figcaption class="mt-6 flex items-center gap-x-4">
                <img
                  class="size-10 rounded-full bg-gray-50"
                  src="/images/helena.jpg"
                  alt=""
                />
                <div>
                  <div class="font-semibold">Elena</div>
                   
                </div>
              </figcaption>
            </figure>

            <!-- More testimonials... -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
