---
import Layout from "@/layouts/Layout.astro";
import DynamicPage from "@/components/DynamicPage.astro";
import { getPageBySlug } from "@/lib/strapi";

const { slug } = Astro.params;
const page = await getPageBySlug(slug);

if (!page) {
  return Astro.redirect('/404');
}

const pageTitle = page.heading || page.title || "Page";
---

<Layout title={pageTitle}>
  <main>
    <DynamicPage page={page} />
  </main>
</Layout>
