---
import "@fontsource/playfair-display/700.css";
import "@fontsource/quicksand";
import "../styles/globals.css";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import "aos/dist/aos.css";
import "../styles/splitting.css";
console.log("Rendering Layout, current path:", Astro.url.pathname);
import MobileMenu from "../components/MobileMenu/index.jsx";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Tanya Stockdale | Functional Medicine Practitioner</title>
    <style is:global>
      .box {
        width: 100px;
        height: 100px;
        background: black;
      }
    </style>
  </head>
  <body class="flex flex-col min-h-screen">
    <Header currentPath={Astro.url.pathname.toString()} />
    <MobileMenu client:only="react" />

    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
    <script></script>
  </body>
</html>
